{% extends 'base.html'%}
{% block content %}   


<h1>{{current_user}}</h1>



{% for product in product_list %}

<a href="{% url 'products_detail' product.id %}">

<img src="{{ product.photo_file }}">

<p id="namelink">Name: {{ product.name }}</p>
</a>
<p>Caption: {{ product.caption }}</p>
<p>Quantity: {{ product.quantity }} </p>
<p>Price: {{ product.price }}</p>
<p>product.id: {{product.id}}</p>
<p>current user id: {{user.id}}</p>
    {% for like in user_likes %}
        {% if like.product.id == product.id and like.user.id == user.id%}
            <p>You liked this post</p>
        {% endif%}
    {% endfor %}
        
    <form action="{% url 'add_like' product.id user.id %}" method="POST">
        {% csrf_token %}
        <button id="like-btn" type="submit" class="btn">Like</button>
    </form>


{% endfor %}

{% endblock %}