{% extends 'base.html'%}
{% block content %}   

{% for item in feed %}

    <a href="{% url 'products_detail' item.product.id %}">
    <p>@{{ item.product.user}}</p>
  
    <img src="{{ item.product.photo_file }}">

    
    
    <p id="namelink">Title: {{ item.product.name }}</p>
    </a>
    
    <p><strong>@{{ item.product.user}}</strong> &nbsp; {{ item.product.caption }}</p>
    <p>${{ item.product.price }}</p>

    {% if item.like_count %}
        <p>Likes: {{item.like_count}}</p>
    {% endif %}

    {% if item.user_liked %}
        <p>(insert liked icon)</p>
    {% else %}
        <form action="{% url 'add_like' item.product.id user.id %}" method="POST">
            {% csrf_token %}
            <button id="like-btn" type="submit" class="btn">Like</button>
        </form>
    {% endif %}

{% endfor %}

{% endblock %}




