{% extends 'base.html'%}
{% block content %}   

<h1></h1>
<img src="https://i.imgur.com/CxK3ehL.jpg">
<p>Name: {{ product.name }}</p>
<p>Caption: {{ product.caption }}</p>
<p>Description: {{ product.description}}</p>
<p>Price: {{ product.price }}</p>
<p>Quantity: {{ product.quantity }} </p>
<p>Likes: {{ product.likes }}</p>
{% if user.is_authenticated %}
    
        <a id="edit" href="{% url 'products_update' product.id %}">Edit</a>
        <a id="delete" href="{% url 'products_delete' product.id %}">Delete</a>
        <form action="{% url 'assoc_product' user.id product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
        </form>
   
{% endif %}







{% endblock %}