{% extends 'base.html'%}
{% block content %}   

<h1></h1>


<p>Title: {{ product.name }}</p>
<img src="{{ product.photo_file }}">


<p><strong>@{{ product.user.username}}</strong> &nbsp; {{ product.caption }}</p>


<p>Description: {{ product.description}}</p>
<p>${{ product.price }}</p>
<p>Qty: {{ product.quantity }} </p>
<p>Likes: {{ product.likes }}</p>
{% for tag in product.tags.all %}
<p>{{ tag.hashtag }}</p>
{% endfor %}
{% if user.is_authenticated %}
    
        <a id="edit" href="{% url 'products_update' product.id %}">Edit</a>
        <a id="delete" href="{% url 'products_delete' product.id %}">Delete</a>
        <form action="{% url 'assoc_product' user.id product.id %}" method="POST">
                {% csrf_token %}
                <button id="add" type="submit" class="btn">Add To Cart</button>
        </form>
        <form action="{% url 'add_comment' product.id user.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" class="btn" value="Add Comment">
                
        </form>

{% endif %}
{% for comment in product.comment_set.all %}
<label>comment:<p>{{ comment.user.username }}</p> <p>{{ comment.text }} </p></label>
{% endfor %}






{% endblock %}