{% extends 'base.html' %}
{% block content %}
<div id="post">
<h1>Log In</h1>

<!-- Add the login form -->
<form id="login" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input id="loginbutt" type="submit" class="btn" value="login">
  <input type="hidden" name="next" value="{{ next }}">
</form>
</div>
{% endblock %}

<!-- this 'next' value is a feature of Django's authentication that will automatically redirect a user that tries to access a protected 
route back to that route after they log in! Using hidden inputs in forms is a common technique in web apps for providing 
additional data to the server when the form is submitted. -->