{% extends 'base.html' %}
{% block content %}
<div class="login-container">
<h1 class="login-header">Log In</h1>

<!-- Add the login form -->
<div class="login-form-container">
<form class="login-form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group inner-login">
    <label class="login-label" for="id_username">Username</label>
  {{ form.username }}
  <label class="login-label" for="id_password">Password</label>
  {{ form.password }}
  <input 
  
  type="submit" 
  class="btn login-btn" 
  value="login">
  <input 
  type="hidden" 
  name="next" 
  value="{{ next }}">
</div>
</form>
</div>
</div>
{% endblock %}

<!-- this 'next' value is a feature of Django's authentication that will automatically redirect a user that tries to access a protected 
route back to that route after they log in! Using hidden inputs in forms is a common technique in web apps for providing 
additional data to the server when the form is submitted. -->