{% extends 'base.html' %}
{% block content %}
<div class="signup-container">
<h class="signup-header">Sign Up</h>

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<div class="signup-form-container">
<form class="signup-form" method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="form-group inner-signup">
  {{ form }}
  <input 
  
  type="submit" 
  class="btn signup-btn" 
  value="signup">
</div>
</form>
</div>
</div>

<script>
  const span = document.querySelector("span")
  const formText = document.querySelector('.helptext')
  formText.innerHTML = ""
  span.innerHTML = ""
</script>

{% endblock %}