{% extends 'base.html' %}
{% block content %}

<div class="about-container">
  <div class="about-text">
   <h1 class="about-header">About Check Me Out</h1>
   <p class="about-descript">
   Check Me Out is a unique website that combines elements of both a 
   marketplace and a social media platform. On the site, users can browse and 
   purchase products from @checkmeout, the official account on the platform. In 
   addition to products, other users without official checkmeout products can 
   also post information about items they have for sale. 
   </p>

   <p class="about-descript"> 
   One of the key features of Check Me Out is that it is not just a marketplace, 
   but also a social media platform. This means that users can connect with each 
   other, share their thoughts and experiences, and build a community.
   </p>
   
   <p class="about-descript">
   Check Me Out is an engaging platform that offers users 
   the ability to buy and sell goods, as well as connect and build a community 
   with other users. Whether you're looking to purchase official checkmeout 
   products or sell your own items, Check Me Out is a great place to be.
   </p>

   <p>Inquire to sell through @checkmeout official page at chechmeout@checkit.com</p>
 </div>
 <div class="about-image-container">
    <div class="color-block"></div>
    <div class="about-image-one">
       <img class="img-one" src="https://i.imgur.com/VNarg9a.jpg"/>
    </div>
    <div class="small-image-container">
       <div class="sm-image-one">
          <img class="sm-one" src="https://i.imgur.com/MtKUhmr.jpg"/>

       </div>
       <div class="sm-image-two">
          <img class="sm-two" src="https://i.imgur.com/3qmzLIm.jpg"/>
       </div>
    </div>
 </div>
</div>

{% endblock %}
