{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MARKET</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    
    

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
      <div id="container">
      
    <header>Creative Market Place</header>
    <aside>
        <ul>
      <li><a href="/">Home</a></li>
     <li><a id="cart" href="{% url 'cart_detail' %}">FART</a></li>
      <li><a href="/products">Marketplace Feed</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      <li><a href="{% url 'products_create' %}">Create Post</a></li>
     
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
      </ul>
    </aside>
   
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <h2>All Rights Reserved, &copy; 2022 CREATIVE MARKET &nbsp;</h2>
    </footer>
    </div>
  </body>
</html>
