{% extends 'base.html'%}
{% block content %}


{% for product in products_by_tag %}
<div class="product-container">
    <p><em>"{{product.name}}"</em></p>
    
    <a href="{% url 'products_detail' product.id %}">
    <img src="{{product.photo_file}}" alt="image of product">
    </a>
</div>
{% endfor %}


{% for product in products_by_creator %}
<div class="product-container">
    <p><em>"{{product.name}}"</em></p>

    <a href="{% url 'products_detail' product.id %}">
        <img src="{{product.photo_file}}" alt="image of product">
        </a>
</div>
{% endfor %}

{% for product in products_by_name %}
<div class="product-container">
    <p><em>"{{product.name}}"</em></p>
    
    <a href="{% url 'products_detail' product.id %}">
        <img src="{{product.photo_file}}" alt="image of product">
        </a>
</div>

{% endfor %}

{% endblock %}