{% extends 'base.html'%}
{% block content %}


<div class="product-container">
{% for product in products_by_tag %}
    <div class="product-card">
      <a href="{% url 'products_detail' product.id %}">
       <img class="product-img" src="{{product.photo_file}}" alt="image of product">
        <p class="product-name">{{product.name}}</p>
      </a>
    </div>
    {% endfor %}
</div>

<div class="product-container">
{% for product in products_by_creator %}  
   <div class="product-card">
      <a href="{% url 'products_detail' product.id %}">
        <img class="product-img" src="{{product.photo_file}}" alt="image of product">
        <p class="product-name">{{product.name}}</p>
      </a>
    </div>
    {% endfor %}
</div>

<div class="product-container">
{% for product in products_by_name %}
  <div class="product-card">
    <a href="{% url 'products_detail' product.id %}">
        <img class="product-img" src="{{product.photo_file}}" alt="image of product">
        <p class="product-name">{{product.name}}</p>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}