body {
  background-size: 100%;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1/4fr 5fr 1fr;
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 80%;
  margin: 3vh auto;
  border-radius: 15px;
  box-shadow: 0 4px 11px 1px rgb(48, 47, 38);
  background-image: url("https://i.imgur.com/Hc6CmZL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: block;
  grid-column: 1 / 4;
  grid-row: 1;
  height: 10vh;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  padding: 2.5vh 0 2vh 0;
  font-size: 4vw;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Rajdhani", sans-serif;
  margin: auto;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5vh 5vh 0 0;
}
li {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-evenly;

  margin: 1vh auto;
  font-family: helvetica;
  font-size: 3vw;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.4s ease-out;
}
li:hover {
  width: 100%;
  background-size: 100% 2px, auto;
  transform: scale(1.1);
}
a:hover {
  color: black;
}

aside {
  grid-column: 1;
  grid-row: 2 / 3;
  height: 100vh;
  box-shadow: 0 4px 11px 1px #3a3113bd;
  border-radius: 15px;
  margin: 0 2vh 0 4vh;
  background-color: rgba(250, 119, 158, 0.618);
  width: 90%;
  font-family: "Mulish", sans-serif;
}

main {
  box-shadow: inset 0 0 10px rgba(49, 35, 23, 0.728);
  grid-column: 2/ 4;
  grid-row: 2/3;
  background-color: rgb(255, 255, 255);
  font-family: "Mulish", sans-serif;
  overflow: scroll;
  height: 100vh;
  margin: 0 3vh 0 3vh;
  border-radius: 10px;
}

img {
  max-height: 50vh;
  display: block;
  margin: 3vh auto;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.15);
}

footer {
  height: 15vh;
  grid-column: 1/ 4;
  font-family: "Rajdhani", sans-serif;
  margin: 5vh;
  margin: auto;
  font-size: 2vh;
}

p {
  display: flex;
  justify-content: center;

  margin: 0.5px auto;
  width: 70%;
  font-family: "Mulish", sans-serif;
}

#namelink:hover {
  background-color: rgb(20, 0, 20);
  color: white;
}

#edit,
#delete {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
  font-size: 4vh;
}

h1 {
  text-align: center;
}

h2 {
  margin: 7vh 0 0 0;
}

#productform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 0 0 5vh;
}

#productbutt {
  background-color: rgb(69, 86, 100);
  width: 20%;
  height: 5vh;
  border: none;
  color: white;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.25);
  margin: 3vh auto;
}

#signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5vh;
}

input {
  height: 3.5vh;
}

.helptext {
  font-size: 2vh;
}

#signupbutt {
  width: 30%;
  height: 5vh;
  margin: 3vh auto;
  background-color: rgb(69, 86, 100);
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.25);
}
#login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#loginbutt {
  width: 30%;
  height: 5vh;
  margin: 3vh auto;
  background-color: rgb(69, 86, 100);
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.25);
}

#removecart {
  display: block;
  width: 30%;
  height: 5vh;
  margin: 3vh auto;
  background-color: rgb(69, 86, 100);
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.25);
}

#add {
  display: block;
  width: 30%;
  height: 5vh;
  margin: 3vh auto;
  background-color: rgb(69, 86, 100);
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.25);
}
