body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
}

.product-container {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  position: relative;
  width: 300px;
  height: 490px;
  border-radius: 40px;
  margin: 1vh;
}

.product-card:hover .cart-btn {
display: block;
}

.product-card:hover .comment-btn {
  display: block;
}

.product-card:hover .liked {
  display: block;
}
 
.product-card:hover .like-btn {
  display: block;
}

.product-img {
 height: 90%;
 width: 100%;
 object-fit: cover;
 border-radius: 20px;
}

.product-name {
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px;
  border-radius: 7px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.product-user {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size:18px;
}

.cart-btn {
  position: absolute;
  top: 60px;
  left: 15px;
  color: rgb(12, 12, 12);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  font-size: 13px ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display:none;
  cursor: pointer;
  padding: 10px;
}
.cart-btn:hover{
  background-color:rgb(221, 255, 0);
}
.cart-btn:active {
  transform: scale(0.95);
}

.comment-btn {
  position: absolute;
  bottom: 65px;
  left: 15px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: none;
  text-decoration:none;
}

.comment-btn:hover {
  text-decoration: none;
 color: rgb(0, 0, 0);
 background-color: rgb(211, 211, 211);
}

.comment-btn:active {
  transform: scale(0.95);
}

.like-btn {
  position: absolute;
  right: 15px;
  bottom: 65px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  font-size: 18px;
  border:none;
  display: none;
  padding: 10px;
  cursor:pointer;
}

.like-btn:hover {
  background-color:rgb(240, 140, 232);;
  color:rgb(0, 0, 0);

}

.like-btn:active {
  transform: scale(0.95);
}

.liked {
  position: absolute;
  right: 15px;
  bottom: 65px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border: none;
  color: rgb(1, 1, 1);
  background-color: rgb(255, 255, 255);
  display: none;
  padding:10px;
  font-size: 18px;
}

/* product list page and base html ^ */

/* cart  */

.cart-title {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(203, 203, 203);
  color: rgb(0, 0, 0);
}

.empty-message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10vh auto;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.empty-link {
  color:rgb(67, 60, 193);
}

.remove-btn {
  position: absolute;
  bottom: 65px;
  left: 15px;
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  font-size: 15px ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.remove-btn:active {
  transform: scale(0.95);
}

.remove-btn:hover {
  background-color: rgb(235, 17, 17);
  
}


/* detail */

.detail-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  flex-direction: column;
  align-items: center;
}

.detail-card {
  height: 100%;
  min-height: 600px;
  width: 95%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 15px, rgba(17, 17, 26, 0.1) 0px 16px 45px, rgba(17, 17, 26, 0.1) 0px 24px 60px;
  margin-bottom: 5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  position: relative;
}

.img-container {
  max-width: 50%;
  height: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.modal-btn {
  display: flex;
  flex-direction: center;
  align-items: center;
  height:45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom:20px;
  right: 20px;
  border: none;
}

.modal-btn:hover {
  background-color:rgb(208, 208, 208);
}

.modal-icon {
  margin: auto;
  height: 20px;
  width: 20px;
}

.detail-img {
 object-fit: contain;
 max-height: 720px;
 width:100%;
 border-radius: 30px 0 0 30px;
}

.info-container {
  max-width: 60%;
  padding: 20px;
  

}

.detail-price {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.detail-title {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin: 0;
  font-weight: 400;
  padding-bottom: 15px;
  line-height: 1;
}

.detail-username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(85, 85, 85);

}



.description-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 600;
}

.detail-description {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-top: 5px;
  width:98%;
  color: rgb(85, 85, 85);
}

.tag-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  
}

.detail-hashtag {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(221, 255, 0);
  padding: 3px;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  flex-wrap: wrap;
  font-size: 18px;
}

.detail-cart-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  color: rgb(255, 255, 255);
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(67, 60, 193);
  border-radius: 30px;
  border: none;
  font-size: 15px ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.detail-cart-btn:active {
  transform: scale(0.95)
}

.detail-comment-form {
  margin-top: 50px;
  width: 95%;
  height: 40px;
  display:flex;
  flex-direction: row;
  grid-gap: 10%;
  justify-content: center;
  
}

.detail-comment-form >  input[type="text" i] {
  width: 90%;
  height: 100%;
  border-radius: 30px;
  border: .5px solid grey;
  
}

.post-comment-btn {
  background-color: black;
  color: white;
  border-radius: 30px;
}

.detail-comment-btn:active {
  transform:scale(0.95);

}

#all-comments-btn {
  background: none;
  border-radius:35px;
  box-shadow: none;
  margin-top:  30px;
  border: .5px solid rgb(174, 174, 174);
}

#comment-section {
  border: none;
  width: 400px;
}

.comment-username {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 700;
}

.comment-text {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
}

.modal-dialog {
  width: 700px;
}

.modal-img {
  width: 460px;
}

.edit-delete-container {
  display: flex;
  justify-content: center;
}

.edit-link {
  margin: 1vh;
  color: grey;
}

.edit-link:hover {
  color: black;
}

.delete-link {
margin: 1vh;
color: grey;
}

.delete-link:hover {
  color: black;
}

@media (max-width: 675px) {
  
  .detail-card {
    flex-direction: column;
  }

  .img-container {
   margin: 4vh auto; 
   width: 100%;
   max-width: 100%;
   height: 100%;
   border-radius: none;
   position: relative;
  }

  .detail-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 0;
 }

 .modal-btn {
  display: none;
 }

 .detail-cart-btn {
  position:static;
  margin: 4vh auto;
 }

 .info-container {
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 100%;
 }

 .detail-title {
   text-align: center;
 }

 .detail-description {
   text-align: center;
 }

 .detail-hashtag {
   margin: 5px auto;
 }

 #comment-section {
  width: 100%;
 }
}
/* profile */

.profile-header {
  width: 100%;
  background-color:rgb(213, 213, 213);
  padding: 5px;
  margin-bottom: 1vh;

}
.profile-user{
  text-align: center;
  font-size: 30px;
  margin-top: 1vh;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60px;
  width: 60px;
  background-color: rgb(234, 255, 0);
  border-radius: 50%;
  margin-bottom: 1vh;
  
}

.avatar-char {
  text-align: center;
  font-size: 45px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
}

.like-header {
  text-align: center;
  font-size: 20px;
  color: rgb(9, 9, 9);
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/* forms */
.product-form-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 2vh;
}

.post-product-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-form-container {
  height: 100%;
  width: 90%;
  max-width: 750px;
  margin: 5vh auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 15px, rgba(17, 17, 26, 0.1) 0px 16px 45px, rgba(17, 17, 26, 0.1) 0px 24px 60px;
  padding: 30px;
  border-radius: 30px;
}

.product-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  width: 100%:
}

.product-input {
  margin-bottom: 2vh;
}

textarea#id_description {
  height: 80px;
}

input#id_photo_file {
  margin-bottom: 2vh;
}

.login-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 2vh;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form-container {
  height: 100%;
  width: 90%;
  max-width: 500px;
  margin: 5vh auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 15px, rgba(17, 17, 26, 0.1) 0px 16px 45px, rgba(17, 17, 26, 0.1) 0px 24px 60px;
  padding: 30px;
  border-radius: 30px;
}

.inner-login {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-top: 1vh;
}

.login-btn {
  margin-top: 2vh;
}


/* sign up */
.signup-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 2vh;
}

.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup-form-container {
  height: 100%;
  width: 90%;
  max-width: 500px;
  margin: 5vh auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 15px, rgba(17, 17, 26, 0.1) 0px 16px 45px, rgba(17, 17, 26, 0.1) 0px 24px 60px;
  padding: 30px;
  border-radius: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

 .inner-signup {
  display: flex;
  flex-direction: column;
}

.helptext {
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
}

.helptext > ul {
  margin-left: 0;
  padding-left: 0;

}

.signup-btn {
  margin-top: 2vh;
}

::marker {
  content: "";
}

/* about */
.about-container {
  display: flex;
  flex-direction: row;
  width:90%;
  height: 100%;
  margin: 5vh auto;
  grid-gap: 10%;
}

.about-text {
  width: 50%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.about-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.about-descript {
font-family:Arial, Helvetica, sans-serif;
}

.about-image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.color-block {
  height: 20%;
  width: 100%;
  background-color: rgb(221, 255, 0);
}

.about-image-one {
  height: 30%;
  width: 100%;
  background-color: pink;
  position: relative;
}

.img-one {
  object-fit: cover;
  height: 100%;
  width: 100%;
 
}

.small-image-container {
  display: flex;
  flex-direction: row;
  height: 35%;
  width: 100%;
 
}

.sm-image-one {
  background-color:rgb(67, 60, 193);
  height: 100%;
  width: 50%;
  position: relative;
}

.sm-one {
object-fit: cover;
height: 100%;
width: 100%;
}

.sm-image-two {
  background-color: blueviolet;
  height: 100%;
  width: 50%;
  position: relative;
}

.sm-two {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 620px) {
  .about-container {
    margin-top: 1vh;
    flex-direction: column;
  }

  .about-image-container {
    display: none;
  }

  .about-text {
    width: 100%;
  }

  .about-header {
    background-color: rgb(221, 255, 0);
  }
}
/* confirm delete */
.delete-container {
  margin-top: 2vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delete-header {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.delete-btn {
  background-color: rgb(205, 17, 17);
  margin: 1vh;
  color: white;
}

.cancel-btn {
  background-color: rgb(64, 0, 255);
  color: white;
}

@media (min-width: 768px) {
nav {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-inline {
  position: absolute;
  top:0;
  right: 15px;
}

.search-btn {
  border: .5px solid black;
  color: black;
}

.search-btn:hover {
  background-color: black;
} 

}

