body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vh;
  font-weight: 700;
  font-size: 15px;
}

.nav-link:hover {
  color: rgb(59, 85, 79);
}

.search-container {
  margin: 1vh;
}

.search-input {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
}

.search-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  padding:5px;
  cursor: pointer;
}

.search-btn:active {
  transform: scale(0.95)
}
main {
  height: 100%;
  width: 100%;
}

.product-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
position: relative;
width: 200px;
height: 310px;
border-radius: 20px;
margin: 1vh;
}

.product-card:hover .cart-btn {
display: block;
}

.product-card:hover .comment-btn {
  display: block;
}

.product-card:hover .liked {
  display: block;
}
 
.product-card:hover .like-btn {
  display: block;
}

.product-img {
 height: 85%;
 width: 100%;
 object-fit: cover;
 border-radius: 20px;
}

.product-name {
  position: absolute;
  top: 0;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0,.7);
  padding: 3px;
  border-radius: 7px;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
}

.product-user {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.cart-btn {
  position: absolute;
  top: 50px;
  left: 10px;
  color: rgb(12, 12, 12);
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  font-size: 12px ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display:none;
  cursor: pointer;
}

.cart-btn:active {
  transform: scale(0.95);
}

.comment-btn {
  position: absolute;
  bottom: 60px;
  left: 10px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 7px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: none;
}

.comment-btn:active {
  transform: scale(0.95);
}

.like-btn {
  position: absolute;
  right: 10px;
  bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border:none;
  display: none;
  padding: 5px;
}

.like-btn:active {
  transform: scale(0.95);
}

.liked {
  position: absolute;
  right: 10px;
  bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border: none;
  color: rgb(1, 1, 1);
  background-color: rgb(255, 255, 255);
  display: none;
  padding:5px;
}

