body {
  
  background-size: 100%;
  
 
  
}

#container {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1/4fr 5fr 1fr;
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 80%;
  margin: 3vh auto;
  border-radius: 15px;
  box-shadow: 0 4px 11px 1px rgb(48, 47, 38);
  background-image: url('https://i.imgur.com/wZBB6jy.jpg?1');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: block;
  grid-column: 1 / 4;
  grid-row: 1;
  height: 10vh;
  font-family: 'Text Me One', sans-serif;
  text-align: center;
  padding: 2.5vh 0 1.5vh 0;
  font-size: 7vh;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Text Me One', sans-serif;
  margin: auto;
}
ul {
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin: 5vh 4vh 0 0 ;

}
li {
  display: flex;
  list-style: none;
  
  margin: 1vh auto;
  font-family: 'Bellota Text', cursive;
  font-size: 3vh;
}
li:hover {
  background-color: #ff00f274;
  width: 100%;
}

aside {
  grid-column: 1;
  grid-row: 2 / 3;
  height: 100vh;
  box-shadow: 0 4px 11px 1px #3a3113bd;
  border-radius: 15px;
  margin: 0 2vh 0 4vh;
  background-color: rgb(255, 255, 255);
  width: 90%;

 
  font-family: "Mulish", sans-serif;
}

main {
  box-shadow: inset 0 0 10px rgba(49, 35, 23, 0.728);
  grid-column: 2/ 4;
  grid-row: 2/3;

 background-color: rgb(255, 255, 255);
  font-family: "Mulish", sans-serif;
  overflow: scroll;
  height: 100vh;
  margin: 0 3vh 0 3vh;
  border-radius: 10px;
}

img {
  max-height: 50vh;
  display: block;
  margin: 3vh auto;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.15);
}

footer {
  height: 15vh;
  grid-column: 1/ 4;
  font-family: "Mulish", sans-serif;
  margin: 5vh;
  margin: auto;
  font-size: 2vh;
}

p {
  display: flex;
  justify-content: center;

  
  margin: 0.5px auto;
  width: 70%;
  font-family: "Mulish", sans-serif;
}

#namelink:hover {
  background-color: rgb(20, 0, 20);
  color: white;
}

#edit,
#delete {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
  font-size: 4vh;
}

h1 {
  text-align: center;
}

