{% extends 'base.html'%}
{% block content %}   

{% if products.count %}
<h1 class="cart-title">Cart</h1>
<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <a href="{% url 'products_detail' product.id %}">
          <img class="product-img"src="{{ product.photo_file }}">
          <p class="product-name">"{{ product.name }}"</p>
        </a>

    <div class="cart-btns">
        {% if product.stripe_product_id %}
            <form action="{% url 'create-stripe-checkout-session' product.stripe_price_id %}" method="POST">
                {% csrf_token %}
                <button class="checkout-btn" type="submit">Checkout</button>
            </form>
        {% endif %}
        <form action="{% url 'unassoc_product' user.id product.id %}" method="POST">
            {% csrf_token %}
            <button class="remove-btn" type="submit">Remove</button>
        </form>
    </div>
</div>
{% endfor %}
</div>
{% else %}
    <h1 class="cart-title">Cart</h1>
    <h1 class="empty-message">{{user.username}}, Your cart is empty...<a class="empty-link" href="{% url 'products_index' %}">Continue Shopping</a></h1>
{% endif %}

{% endblock %}

