{% extends 'base.html'%}
{% block content %}   

{% if products.count %}
    <h1>Cart</h1>
    {% for product in products %}
    <img src="{{ product.photo_file }}">
    <a href="{% url 'products_detail' product.id %}">
        <p>Name: {{ product.name }}</p>
    </a>
    <p>Price: {{ product.price }}</p>

    <div id="cart-btns">
        {% if product.stripe_product_id %}
            <form action="{% url 'create-stripe-checkout-session' product.stripe_price_id %}" method="POST">
                {% csrf_token %}
                <button id="checkout-btn" type="submit">Checkout</button>
            </form>
        {% endif %}
        <form action="{% url 'unassoc_product' user.id product.id %}" method="POST">
            {% csrf_token %}
            <button id="removecart" type="submit" class="btn">Remove</button>
        </form>
    </div>
    {% endfor %}
{% else %}
    <h1>Your cart is empty...<a href="{% url 'products_index' %}">Continue Shopping</a></h1>
{% endif %}

{% endblock %}

