{% extends 'base.html'%}
{% block content %}   

{% if products.count %}
  
    <h1 id="cart-head">Cart</h1><br>
    {% for product in products %}
    <div id="cart-container">
        <a href="{% url 'products_detail' product.id %}">
    <img src="{{ product.photo_file }}">
   
        <h3>Title:<em>"{{ product.name }}"</em></h3>
    </a>
    <h3>Price: ${{ product.price }}</h3>

    <div id="cart-btns">
        {% if product.stripe_product_id %}
            <form action="{% url 'create-stripe-checkout-session' product.stripe_price_id %}" method="POST">
                {% csrf_token %}
                <button id="checkout-btn" type="submit">Checkout</button>
            </form>
        {% endif %}
        <form action="{% url 'unassoc_product' user.id product.id %}" method="POST">
            {% csrf_token %}
            <button id="removecart" type="submit" class="btn">Remove</button>
        </form>
    </div>
</div>
    {% endfor %}
{% else %}
    <h1>Your cart is empty...<a href="{% url 'products_index' %}">Continue Shopping</a></h1>
{% endif %}

{% endblock %}

