{% extends 'base.html'%}
{% block content %}

<h1 class="profile-user">@{{user.username}}</h1>
<h1 class="like-header">Likes</h1>
<div class="product-container">
{% for product in products %}
<div class="product-card">
    <a href="{% url 'products_detail' product.id %}">
        <img 
        class="product-img"
        src="{{ product.photo_file }}"/>
    </a>
   <p class="product-name">{{ product.name }}</p>
  
    <p class="product-user">@{{ product.user}}</p> 
</div>
    {% endfor %}
</div>

{% endblock %}

